<p id="notice"><%= notice %></p>

<div class="fieldset">
  <dl>
      <dt class="label label-default">Codigo</dt>
      <dd><pre class="prettyprint"><%= @alarm.code %></pre></dd>
  </dl>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default">Titulo</dt>
      <dd><pre class="prettyprint"><%= @alarm.title %></pre></dd>
  </dl>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default">Descricao</dt>
      <dd><pre class="prettyprint"><%= @alarm.description %></pre></dd>
  </dl>
</div>

<%= link_to 'Editar', edit_alarm_path(@alarm), class: 'btn btn-warning btn-lg' %> |
