<%= form_for @node, url: route, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <!--<%= f.label :identifier, :class => 'control-label col-md-2' %>-->
  <label class="control-label col-md-2" for="node_identifier">Identificador</label>
    <div class="col-md-10">
      <%= f.text_field :identifier, :class => 'text-field form-control' %>
    </div>
  </div>

  <%= render 'tags/tag', f: f, model: @node %>

  <div class="form-group">
  <label class="control-label col-md-2" for="latitude">Latitude</label>
    <div class="col-md-10">
      <%= f.text_field :latitude, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
  <label class="control-label col-md-2" for="longitude">Longitude</label>
    <div class="col-md-10">
      <%= f.text_field :longitude, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :value => 'Salvar', :class => 'btn btn-primary' %>
      <% if action?('new') %>
        <%= link_to t('.cancel', :default => "Cancelar"),
          network_path(params[:network_id], network_id: params[:network_id]), :class => 'btn btn-default' %>
        <% else %>
        <%= link_to t('.cancel', :default => "Cancelar"),
          node_path(network_id: params[:network_id]), :class => 'btn btn-default' %>
      <% end %>
    </div>
  </div>
<% end %>
