<%- model_class = Node -%>
<div class="page-header">
  <!-- <h1><%=t '.title', :default => Node %></h1> -->
  <h2><%= link_to t('.back', :default => "<em class='icon-vector'></em> #{@node.network.name}".html_safe ),
   network_path(@node.network), :class => '' %> > <em class='icon-pointer'></em> <%= @node.identifier %></h2>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:identifier) %></dt>
      <dd><pre class="prettyprint"><%= @node.identifier %></pre></dd>
  </dl>
</div>

<div class="fieldset">
  <dl>
    <%= render partial: 'tags/tags_list', locals: {model_object: @node}%>
  </dl>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:latitude) %></dt>
      <dd><pre class="prettyprint"><%= @node.latitude %></pre></dd>
  </dl>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:longitude) %></dt>
      <dd><pre class="prettyprint"><%= @node.longitude %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.edit', :default => "Editar"),
              edit_node_path(@node, network_id: @node.network_id), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => "Excluir"),
              @node,
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
              :class => 'btn btn-danger' %>

  <div class="page-header">
    <h2>Produto</h2>
  </div>
  <% if @node.product %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Tipo</th>
          <th>Nome</th>
          <th>Modelo</th>
          <th>Número serial</th>
          <th>Endereço MAC</th>
          <th>Código do produto</th>
          <th>Data de fabricação</th>
          <th>Criado em</th>
          <th>Visualizar</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @node.product.productable_id %></td>
            <td><%= t(@node.product.productable_type) %></td>
            <td><%= @node.product.name %></td>
            <td><%= @node.product.model %></td>
            <td><%= @node.product.serial_number %></td>
            <td><%= @node.product.mac_address %></td>
            <td><%= @node.product.product_code %></td>
            <td><%= @node.product.fabrication_date %></td>
            <%# revisar ideia da tabela de status nao ter uma abstrata %>
            <td><%=l @node.product.created_at, format: :long %></td>
            <td>
              <%= product_link @node.product, class: 'btn btn-primary' do %>
                <%= glyph 'info-sign' %>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>

  <% end %>
    <%= link_to t('.new', :default => "Novo"),
                new_product_path,
                :class => 'btn btn-primary' %>
</div>

