<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :node_id, 'Produto' %>
    <%= f.select :node_id, Product.all.where(company: current_user.company).reject{|p| p.node.nil? }.collect {|product| [ product.name, product.node.id ] }, {include_blank: 'Selecione um Produto'}, {class: 'chosen-select'} %>

    <hr>

    <%= f.label :code, 'Tipo de Ação' %>
    <%= f.select :code, [['Troca de Configuração da Luminária', 100],
                         ['Troca de Firmware', 200],
                         ['Enviar Comando', 300]], {include_blank: 'Selecione uma Ação'}, {class: 'chosen-select'} %>

    <%= f.input :attachable_type, as: :hidden %>

    <%= content_tag :div, "", id: "code-data", data: {firmware: @firmwares.collect {|firmware| [ firmware.filename, firmware.id ] }, config_file: @config_files.collect {|config| [ config.name, config.id ] },
       command: @commands.collect {|command| [ command.name, config.id ]}} %>

    <hr>

    <div class="form-inputs" id="attachable-select">
      <%= f.label :attachable_id, 'Arquivos' %>
      <%= f.select :attachable_id, [], {include_blank: 'Selecione um Arquivo'}, {class: 'chosen-select'} %>
      <hr>
    </div>

    <h3><%= f.label 'Data e Hora de execução' %></h3>
    <%= f.datetime_select :execute_at, start_year: Date.today.year  %>
  </div>
  <hr>

  <div class="form-actions">
    <%= f.button :submit, value: 'Enviar' %>
  </div>
<% end %>
