<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :node, collection: Node.all.where(company: current_user.company) %>
    <%= f.input :code %>

    <h3><%= f.label 'Data e Hora de execução' %></h3>
    <%= f.datetime_select :execute_at  %>
  </div>
  <hr>

  <div class="form-actions">
    <%= f.button :submit, value: 'Criar Tarefa' %>
  </div>
<% end %>
