<p id="notice"><%= notice %></p>

<h1>Tarefas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data e hora de execução</th>
      <th>Código</th>
      <th>Estado</th>
      <th>Nodo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% state_colors = {waiting: 'info', running: 'warning', done: 'success', failed: 'danger'} %>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= format_time_brazil(task.execute_at) %></td>
        <td><%= task.code %></td>
        <td><%= content_tag(:span, t(task.aasm_state) , class: "label label-#{state_colors[task.aasm_state.to_sym]}") %></td>
        <td><%= task.node.identifier %></td>
        <td><%= link_to 'Visualizar', task, class: 'btn btn-link' %></td>
        <td><%= link_to 'Editar', edit_task_path(task), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Apagar', task, class: 'btn btn-link', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Tarefa', new_task_path, class: 'btn btn-info' %>
