<p id="notice"><%= notice %></p>

<p>
  <strong>Execute at:</strong>
  <%= @task.execute_at %>
</p>

<p>
  <strong>Code:</strong>
  <%= @task.code %>
</p>

<p>
  <strong>Aasm state:</strong>
  <%= @task.aasm_state %>
</p>

<p>
  <strong>Node:</strong>
  <%= @task.node %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
