<h1><%= link_to "<em class='icon-calendar'></em> Tarefas".html_safe, @task %> > Tarefa <%= @task.id %></h1>
<p id="notice"><%= notice %></p>

<table class="table table-hover">

  <tr>
    <th class="row">Data e hora de Execução:</th>
    <td><%= format_time_brazil(@task.execute_at) %></td>
  </tr>

  <tr>
    <% state_colors = {waiting: 'info', running: 'warning', done: 'success', failed: 'danger'} %>
    <th class="row">Status:</th>
    <td><%= content_tag(:span, t(@task.aasm_state), class: "label label-#{state_colors[@task.aasm_state.to_sym]}") %></td>
  </tr>

  <tr>

    <% type_code = {
      100 => 'Troca de Configuração da Luminária',
      200 => 'Atualização de Firmware'
    } %>

    <th class="row">Tipo:</th>
    <td><%= type_code[@task.code] %></td>
  </tr>

  <tr>
    <th class="row">Produto:</th>
    <td><%= @task.node.product.name %></td>
  </tr>

</table>
