<%= simple_form_for(@param) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, class: 'form-control', label: 'Nome' %>
    <%= f.input :code, class: 'form-control', label: 'Codigo do Parametro' %>
    <%= f.input :description, class: 'form-control', label: 'Descricao' %>
    <%= f.association :event_code, class: 'form-control', label: 'Codigo do Evento' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Salvar Parametro', class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
