<p id="notice"><%= notice %></p>

<h1>Parametros</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Codigo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @params.each do |param| %>
      <tr>
        <td><%= param.name %></td>
        <td><%= param.code %></td>
        <td><%= param.description %></td>
        <td><%= link_to 'Visualizar', param, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Editar', edit_param_path(param), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Deletar', param, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Parametros', new_param_path, class: 'btn btn-success btn-lg' %>
