<%= form_for @lamp, :html => { :class => 'form-horizontal form-model' } do |f| %>

  <%= f.fields_for :product_attributes, @lamp.product||Product.new do |ff| %>
    <%= render partial: 'products/product', locals: {ff: ff} %>
  <% end %>

  <div class="form-group">
    <%= f.label :font_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :font_type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :font_subtype, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :font_subtype, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  lamps_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
