<div id="panelDemo1" class="panel panel-primary">
            <div class="panel-heading">Programação Luminária
               <a href="#" data-tool="panel-collapse" data-toggle="tooltip" title="Expandir" class="pull-right">
                  <em class="fa fa-minus"></em>
               </a>
            </div>
         	<div class="panel-wrapper collapse in">
               <div class="panel-body">
<%= form_tag do %>

<div id="panelPlans" class="panel panel-default">
	<div class="panel-heading">Plano <%= select_tag :plan_id, options_for_select(1..16), :class => "form-control inline", :style => "width:70px" %></div>
	<div class="panel-body">
		<div class="form-group">
			<%= label_tag :dimerization, "Dimerização", :class => "control-label col-md-2" %>
			<div class="input-group m-b col-md-2">
				<%= number_field_tag :dimerization, nil, in: 50..100, :class => "form-control" %>
				<span class="input-group-addon">%</span>
			</div>
		</div>
		<div class="form-group">
			<%= label_tag :delay, "Defasagem", :class => "col-md-2 control-label" %>
			<div class="input-group m-b col-md-2">
				<%= number_field_tag :delay, nil, in: 0..254, :class => "form-control" %>
				<span class="input-group-addon">seg</span>
			</div>
		</div>
		<div class="form-group">
			<%= label_tag nil, "Desabilitar Periféricos", :class => "col-md-2" %>
			<div class="col-md-10">
				<div class="checkbox c-checkbox">
					<label>
					<%= check_box_tag(:sensor1) %>
					<span class="fa fa-check"></span>Sensor de temperatura da placa LED 1</label>
				</div>
				<div class="checkbox c-checkbox">
					<label>
					<%= check_box_tag(:sensor2) %>
					<span class="fa fa-check"></span>Sensor de temperatura da placa LED 2</label>
				</div>
				<div class="checkbox c-checkbox">
					<label>
					<%= check_box_tag(:sensor3) %>
					<span class="fa fa-check"></span>Sensor de temperatura da placa fonte</label>
				</div>
				<div class="checkbox c-checkbox">
					<label>
					<%= check_box_tag(:sensor4) %>
					<span class="fa fa-check"></span>Sensor de luminosidade</label>
				</div>
				<div class="checkbox c-checkbox">
					<label>
					<%= check_box_tag(:sensor5) %>
					<span class="fa fa-check"></span>Memória externa</label>
				</div>
				<div class="checkbox c-checkbox">
					<label>
					<%= check_box_tag(:sensor6) %>
					<span class="fa fa-check"></span>Microcontrolador da placa LED 1</label>
				</div>
				<div class="checkbox c-checkbox">
					<label>
					<%= check_box_tag(:sensor7) %>
					<span class="fa fa-check"></span>Microcontrolador da placa LED 2</label>
				</div>
			</div>
        </div>
	</div>
</div>


<div id="panelChanges" class="panel panel-default">
	 <div class="panel-heading">Trocas de Planos</div>
	 <div class="panel-body">
	 	<div id="resize-table-changes">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Plano</th>
		      <th>Modo Operação</th>
		      <th>Dias da semana</th>
			  <th>Hora</th>
			  <th>Data Especial</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% for c in 1..16 do %>
		      <tr id='<%="change_#{c}"%>'>
		        <td><%= c %></td>
		        <td>
		        	<div class="plan-size">
		        		<%= select_tag "change_#{c}_plan", options_for_select(1..16), :class => "form-control", :style => "padding:6px" %>
					</div>
				</td>
				<td>
					<div class="mode-size">
						<%= select_tag "change_#{c}_mode", options_for_select([ ['Coordenado',1], ['Isolado',2], ['Atuado',3] ]), :class => "form-control", :style => "padding:6px" %></td>
					</div>
				<td>
					<div class="week-control">
						<div data-toggle="buttons" class="btn-group">
							<label class="btn btn-oval btn-default btn-sm" style="padding:6px 10px">
								<%= check_box_tag("change_#{c}_all") %>
								Todos
							</label>
						</div>
						<div class="btn-group">
							<div data-toggle="buttons" class="btn-group">
								<label class="btn btn-default btn-sm">
								<%= check_box_tag("change_#{c}_sun") %>D</label>
								<label class="btn btn-default btn-sm">
								<%= check_box_tag("change_#{c}_mon") %>S</label>
								<label class="btn btn-default btn-sm">
								<%= check_box_tag("change_#{c}_tue") %>T</label>
								<label class="btn btn-default btn-sm">
								<%= check_box_tag("change_#{c}_wed") %>Q</label>
								<label class="btn btn-default btn-sm">
								<%= check_box_tag("change_#{c}_thu") %>Q</label>
								<label class="btn btn-default btn-sm">
								<%= check_box_tag("change_#{c}_fri") %>S</label>
								<label class="btn btn-default btn-sm">
								<%= check_box_tag("change_#{c}_sat") %>S</label>
							</div>
						</div>
					</div>
				</td>
				<td>
					<div class="input-group m-b col-sm-2">
						<%= number_field_tag "change_#{c}_hour", nil, in: 0..23, :class => "form-control", :style => "width:45px; padding:6px" %>
						<span class="input-group-addon" style="padding:6px">:</span>
						<%= number_field_tag "change_#{c}_minute", nil, in: 0..59, :class => "form-control", :style => "width:45px; padding:6px" %>
						<span class="input-group-addon" style="padding:6px">:</span>
						<%= number_field_tag "change_#{c}_secound", nil, in: 0..59, :class => "form-control", :style => "width:45px; padding:6px" %>
					</div>
				</td>
				<td>
					<div class="input-group m-b col-sm-2">
						<span class="input-group-addon especial_date" style="width:5px; padding:6px"><%= check_box_tag("change_#{c}_especial_date") %></span>
						<%= number_field_tag "change_#{c}_day", nil, in: 1..31, :class => "form-control", :style => "width:45px; padding:6px" %>
						<span class="input-group-addon" style="padding:6px">/</span>
						<%= number_field_tag "change_#{c}_month", nil, in: 1..12, :class => "form-control", :style => "width:45px; padding:6px" %>
						<span class="input-group-addon" style="padding:6px">/</span>
						<%= number_field_tag "change_#{c}_year", nil, in: 2015..2099, :class => "form-control", :style => "width:60px; padding:6px" %>
					</div>
				</td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
		</div>
		<%= text_area_tag(:json, nil, size: "80x12") %>
	</div>
</div>

<% end %>

</div>
               <div class="panel-footer">
               	<button id="save_prog" class="btn btn-primary">Salvar Programação</button>
				<button id="restore_prog" class="btn btn-default">Restaurar Programação</button>
				</div>
            </div>
         </div>
		 
		 
		 
