<%- model_class = Lamp -%>
<div class="page-header">
  <!-- <h1><%=t '.title', :default => Lamp %></h1> -->
  <h1>Luminárias</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Modelo</th>
      <th>Número serial</th>
      <th>Endereço MAC</th>
      <th>Código do produto</th>
      <th>Data de fabricação</th>
      <!-- <th><!&#45;&#45;<%= model_class.human_attribute_name(:font_type) %>&#45;&#45;>Tipo de fonte</th> -->
      <!-- <th><!&#45;&#45;<%= model_class.human_attribute_name(:font_subtype) %>&#45;&#45;>Subtipo de fonte</th> -->
      <!-- <th><!&#45;&#45;<%= model_class.human_attribute_name(:created_at) %>&#45;&#45;>Criado em</th> -->
      <th><!--<%=t '.actions', :default => t("helpers.actions") %>-->Visualizar</th>
      <th><!--<%=t '.actions', :default => t("helpers.actions") %>-->Remover</th>
    </tr>
  </thead>
  <tbody>
    <% @lamps.each do |lamp| %>
      <tr>
        <td><%= lamp.productable_id %></td>
        <td><%= lamp.name %></td>
        <td><%= lamp.model %></td>
        <td><%= lamp.serial_number %></td>
        <td><%= lamp.mac_address %></td>
        <td><%= lamp.product_code %></td>
        <td><%= lamp.fabrication_date %></td>
        <!-- <td><%# lamp.font_type %></td> -->
        <!-- <td><%# lamp.font_subtype %></td> -->
        <!-- <td><%#l lamp.created_at, format: :long %></td> -->
        <td><%= product_link lamp, class: 'btn btn-primary' do %>
          <%= glyph 'info-sign' %>
        <% end %>
        </td>
        <td>
          <%= link_to lamp_path(lamp), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Confirmar?')) }, :class => 'btn btn-xs', :title => "Excluir" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lamp_path,
            :class => 'btn btn-primary' %>-->
			
<%= link_to t('.new', :default => "Nova"),
            new_lamp_path,
            :class => 'btn btn-primary' %>
