<p id="notice"><%= notice %></p>

<p>
  <strong>Recurso:</strong>
  <%= @permission.resource %>
</p>

<p>
  <strong>Habilidade:</strong>
  <%= @permission.ability %>
</p>

<p>
  <strong>Função:</strong>
  <%= @permission.role %>
</p>

<%= link_to 'Editar', edit_permission_path(@permission) %> |
<%= link_to 'Voltar', permissions_path %>
