<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <tr>
    <th class="row">Serialnum:</th>
    <td><%= @lamp_stat.serial_num %></td>
  </tr>

  <tr>
    <th class="row">Date:</th>
    <td><%= @lamp_stat.date %></td>
  </tr>

  <tr>
    <th class="row">Pwr:</th>
    <td><%= @lamp_stat.pwr %></td>
  </tr>

  <tr>
    <th class="row">Current:</th>
    <td><%= @lamp_stat.current %></td>
  </tr>

  <tr>
    <th class="row">Volts:</th>
    <td><%= @lamp_stat.volts %></td>
  </tr>

  <tr>
    <th class="row">Tcom:</th>
    <td><%= @lamp_stat.tCom %></td>
  </tr>

  <tr>
    <th class="row">Tled1:</th>
    <td><%= @lamp_stat.tLed1 %></td>
  </tr>

  <tr>
    <th class="row">Tled2:</th>
    <td><%= @lamp_stat.tLed2 %></td>
  </tr>

  <tr>
    <th class="row">Slum:</th>
    <td><%= @lamp_stat.sLum %></td>
  </tr>

  <tr>
    <th class="row">Rssidev:</th>
    <td><%= @lamp_stat.rssiDev %></td>
  </tr>

  <tr>
    <th class="row">Lqidev:</th>
    <td><%= @lamp_stat.lqiDev %></td>
  </tr>

  <tr>
    <th class="row">Sentpkts:</th>
    <td><%= @lamp_stat.sentPkts %></td>
  </tr>

  <tr>
    <th class="row">Rcvpkts:</th>
    <td><%= @lamp_stat.rcvPkts %></td>
  </tr>

  <tr>
    <th class="row">Lastreboot:</th>
    <td><%= @lamp_stat.lastReboot %></td>
  </tr>

  <tr>
    <th class="row">Txpwr:</th>
    <td><%= @lamp_stat.txPwr %></td>
  </tr>

  <tr>
    <th class="row">Ctrlrestart:</th>
    <td><%= @lamp_stat.ctrlRestart %></td>
  </tr>

  <tr>
    <th class="row">Vfirmware:</th>
    <td><%= @lamp_stat.vFirmware %></td>
  </tr>

  <tr>
    <th class="row">Vcmd:</th>
    <td><%= @lamp_stat.vCmd %></td>
  </tr>

  <tr>
    <th class="row">Ckscfg:</th>
    <td><%= @lamp_stat.cksCfg %></td>
  </tr>

  <tr>
    <th class="row">Appckserr:</th>
    <td><%= @lamp_stat.appCksErr %></td>
  </tr>

  <tr>
    <th class="row">Cmdnotimp:</th>
    <td><%= @lamp_stat.cmdNotImp %></td>
  </tr>

  <tr>
    <th class="row">Online:</th>
    <td><%= @lamp_stat.online %></td>
  </tr>

  <tr>
    <th class="row">Communicating:</th>
    <td><%= @lamp_stat.communicating %></td>
  </tr>

  <tr>
    <th class="row">Sunrise:</th>
    <td><%= @lamp_stat.sunrise %></td>
  </tr>

  <tr>
    <th class="row">Sunset:</th>
    <td><%= @lamp_stat.sunset %></td>
  </tr>
</table>

