<p id="notice"><%= notice %></p>

<h1>Codigos de Evento</h1>

<table>
  <table class="table table-striped">
    <tr>
      <th>Nome</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_codes.each do |event_code| %>
      <tr>
        <td><%= event_code.name %></td>
        <td><%= event_code.code %></td>
        <td><%= link_to 'Show', event_code %></td>
        <td><%= link_to 'Edit', edit_event_code_path(event_code) %></td>
        <td><%= link_to 'Destroy', event_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Codigo de Evento', new_event_code_path, class: 'btn btn-primary' %>
