<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @event_code.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event_code.name %>
</p>

<%= link_to 'Edit', edit_event_code_path(@event_code) %> |
<%= link_to 'Back', event_codes_path %>
