<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @event_code.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event_code.name %>
</p>

<%= link_to 'Editar', edit_event_code_path(@event_code), class: 'btn btn-warning' %> |
<%= link_to 'Voltar', event_codes_path, class: 'btn btn-default' %>
