<p id="notice"><%= notice %></p>

<h1>Funções</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <!--<th>Usuário</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to 'Mostrar', role %></td>
        <td><%= link_to 'Editar', edit_role_path(role) %></td>
        <td><%= link_to 'Excluir', role, method: :delete, data: { confirm: 'Confirmar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Role', new_role_path %>-->
<%= link_to 'Nova Função', new_role_path %>
