<div class="form-group">
  <%= ff.label :node_id, 'Nodo', :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= ff.select :node_id, Node.all.where(company: current_user.company).collect {|node| [ node.identifier, node.id ] }, {include_blank: 'Selecione um Nodo'}, {class: 'chosen-select input-md form-control'} %>
  </div>
</div>
<div class="form-group">
  <!--<%= ff.label :name, :class => 'control-label col-md-2' %>-->
  <%= ff.label "Nome", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= ff.text_field :name, :class => 'text-field form-control' %>
  </div>
</div>
<div class="form-group">
  <!--<%= ff.label :model, :class => 'control-label col-md-2' %>-->
  <%= ff.label "Modelo", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= ff.text_field :model, :class => 'text-field form-control' %>
  </div>
</div>
<div class="form-group">
  <!--<%= ff.label :serial_number, :class => 'control-label col-md-2' %>-->
  <%= ff.label "Número serial", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= ff.text_field :serial_number, :class => 'text-field form-control' %>
  </div>
</div>
<div class="form-group">
  <!--<%= ff.label :mac_address, :class => 'control-label col-md-2' %>-->
  <%= ff.label "Endereço MAC", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= ff.text_field :mac_address, :class => 'text-field form-control' %>
  </div>
</div>
<div class="form-group">
  <!--<%= ff.label :product_code, :class => 'control-label col-md-2' %>-->
  <%= ff.label "Código do produto", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= ff.text_field :product_code, :class => 'text-field form-control' %>
  </div>
</div>
<div class="form-group">
  <!--<%= ff.label :fabrication_date, :class => 'control-label col-md-2' %>-->
  <%= ff.label "Data de fabricação", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= ff.date_select :fabrication_date, :class => 'text-field form-control' %>
  </div>
</div>
<div class="form-group">
  <!--<%= ff.label :tension_operation, :class => 'control-label col-md-2' %>-->
  <%= ff.label "Tensão de operação", :class => 'control-label col-md-2' %>
  <div class="col-md-10">
    <%= ff.number_field :tension_operation, :class => 'text-field form-control' %>
  </div>
</div>
