<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
         <span class="sr-only">Alternar navegação</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
         <div class="brand-logo">
            <h3 id="home-link"><strong><em class="icon-home"></em></strong></h3>
         </div>
         <div class="brand-logo-collapsed">
            <h3 id="home-link"><strong><em class="icon-home"></em></strong></h3>
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="navbar-collapse collapse">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li></li>
         <li>
           <%= link_to '<em class="icon-share"></em> Redes'.html_safe, networks_path %>
         </li>

         <li>
           <%= link_to '<em class="icon-bulb"></em> Luminárias'.html_safe, lamps_path %>
         </li>

         <li>
           <%= link_to '<em class="icon-feed"></em> Gateways'.html_safe, gateways_path %>
         </li>

         <li>
           <%= link_to '<em class="icon-grid"></em> Grupos'.html_safe, '/tags' %>
         </li>

         <li>
           <%= link_to '<em class="icon-calendar"></em> Tarefas'.html_safe, tasks_path %>
         </li>

         <li>
           <%= link_to '<em class="icon-settings"></em> Configurações'.html_safe, config_files_path %>
         </li>

         <li>
           <%= link_to '<em class="icon-disc"></em> Firmwares'.html_safe, firmwares_path %>
         </li>

         <li>
           <%= link_to '<em class="icon-rocket"></em> Comandos'.html_safe, commands_path %>
         </li>

         <li>
           <%= link_to '<em class="icon-flag"></em> Alarmes'.html_safe, alarms_path %>
         </li>
      </ul>
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- Search icon-->
      <!--    <li> -->
      <!--       <a href="#" data&#45;search&#45;open=""> -->
      <!--          <em class="icon&#45;magnifier"></em> -->
      <!--       </a> -->
      <!--    </li> -->

        <li class="dropdown dropdown-list">
          <% if current_user %>
          <a href="#" data-toggle="dropdown">
            <em class="icon-user"></em> <%= current_user.name %>
          </a>
        <ul class="dropdown-menu animated flipInX">
          <li>
            <!-- START list group-->
            <div class="list-group">
              <!-- list item-->
              <a href="<%= edit_user_registration_path %>" class="list-group-item">
                <div class="media-box">
                    <div class="pull-left">
                      <em class="fa fa-user fa-2x text-info"></em>
                    </div>
                    <div class="media-box-body clearfix">
                      <p class="m0">Editar sua Conta</p>
                      <p class="m0 text-muted">
                          <small>Mude os dados do seu cadastro</small>
                      </p>
                    </div>
                </div>
              </a>
              <!-- list item-->
              <a href="/signout" class="list-group-item">
                  <div class="media-box">
                    <div class="pull-left">
                        <em class="icon-logout"></em>
                    </div>
                    <div class="media-box-body clearfix">
                      <p class="m0">Sair</p>
                    </div>
                  </div>
              </a>
            </div>
            <!-- END list group-->
          </li>
        </ul>
        <% else %>
          <a href="/login" >
            <em class="icon-lock"> Login</em>
          </a>
        <% end %>
        </li>

         <!-- Fullscreen (only desktops)-->
         <li class="visible-lg">
            <a href="#" data-toggle-fullscreen="">
               <em class="fa fa-expand"></em>
            </a>
         </li>
         <!-- START Alert menu-->
      <!--    <li class="dropdown dropdown&#45;list"> -->
      <!--       <a href="#" data&#45;toggle="dropdown"> -->
      <!--          <em class="icon&#45;bell"></em> -->
      <!--          <div class="label label&#45;danger">11</div> -->
      <!--       </a> -->
            <!-- START Dropdown menu-->
      <!--       <ul class="dropdown&#45;menu animated flipInX"> -->
      <!--          <li> -->
                  <!-- START list group-->
      <!--             <div class="list&#45;group"> -->
      <!--                <!&#45;&#45; list item&#45;&#45;> -->
      <!--                <a href="#" class="list&#45;group&#45;item"> -->
      <!--                   <div class="media&#45;box"> -->
      <!--                      <div class="pull&#45;left"> -->
      <!--                         <em class="fa fa&#45;twitter fa&#45;2x text&#45;info"></em> -->
      <!--                      </div> -->
      <!--                      <div class="media&#45;box&#45;body clearfix"> -->
      <!--                         <p class="m0">New followers</p> -->
      <!--                         <p class="m0 text&#45;muted"> -->
      <!--                            <small>1 new follower</small> -->
      <!--                         </p> -->
      <!--                      </div> -->
      <!--                   </div> -->
      <!--                </a> -->
      <!--                <!&#45;&#45; list item&#45;&#45;> -->
      <!--                <a href="#" class="list&#45;group&#45;item"> -->
      <!--                   <div class="media&#45;box"> -->
      <!--                      <div class="pull&#45;left"> -->
      <!--                         <em class="fa fa&#45;envelope fa&#45;2x text&#45;warning"></em> -->
      <!--                      </div> -->
      <!--                      <div class="media&#45;box&#45;body clearfix"> -->
      <!--                         <p class="m0">New e&#45;mails</p> -->
      <!--                         <p class="m0 text&#45;muted"> -->
      <!--                            <small>You have 10 new emails</small> -->
      <!--                         </p> -->
      <!--                      </div> -->
      <!--                   </div> -->
      <!--                </a> -->
      <!--                <!&#45;&#45; list item&#45;&#45;> -->
      <!--                <a href="#" class="list&#45;group&#45;item"> -->
      <!--                   <div class="media&#45;box"> -->
      <!--                      <div class="pull&#45;left"> -->
      <!--                         <em class="fa fa&#45;tasks fa&#45;2x text&#45;success"></em> -->
      <!--                      </div> -->
      <!--                      <div class="media&#45;box&#45;body clearfix"> -->
      <!--                         <p class="m0">Pending Tasks</p> -->
      <!--                         <p class="m0 text&#45;muted"> -->
      <!--                            <small>11 pending task</small> -->
      <!--                         </p> -->
      <!--                      </div> -->
      <!--                   </div> -->
      <!--                </a> -->
      <!--                <!&#45;&#45; last list item &#45;&#45;> -->
      <!--                <a href="#" class="list&#45;group&#45;item"> -->
      <!--                   <small>More notifications</small> -->
      <!--                   <span class="label label&#45;danger pull&#45;right">14</span> -->
      <!--                </a> -->
      <!--             </div> -->
                  <!-- END list group-->
      <!--          </li> -->
      <!--       </ul> -->
            <!-- END Dropdown menu-->
      <!--    </li> -->
         <!-- END Alert menu-->
         <!-- START Contacts button-->
      <!--    <li> -->
      <!--       <a href="#" data&#45;toggle&#45;state="offsidebar&#45;open" data&#45;no&#45;persist="true"> -->
      <!--          <em class="icon&#45;notebook"></em> -->
      <!--       </a> -->
      <!--    </li> -->
         <!-- END Contacts menu-->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
   <!-- START Search form-->
   <form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="Digite e pressione enter ..." class="form-control" />
         <div data-search-dismiss="" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Enviar</button>
   </form>
   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->
