<p id="notice"><%= notice %></p>

<h1><%= @command.name %></h1>

<p>
  <strong>Conteudo:</strong>
  <pre>
    <%= @command.content %>
  </pre>
</p>

<hr />
<%= link_to 'Voltar', commands_path, class: 'btn btn-default btn-lg' %>
<%= link_to 'Editar', edit_command_path(@command), class: 'btn btn-warning btn-lg' %>
