<p id="notice"><%= notice %></p>

<h1>Listing Firmwares</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Filename</th>
      <th>Content type</th>
      <th>File content</th>
      <th>Checksum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @firmwares.each do |firmware| %>
      <tr>
        <td><%= firmware.id %></td>
        <td><%= firmware.filename %></td>
        <td><%= firmware.content_type %></td>
        <td><%= firmware.checksum %></td>
        <td><%= link_to 'Baixar', firmware %></td>
        <td><%= link_to 'Editar', edit_firmware_path(firmware), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Deletar', firmware, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Firmware', new_firmware_path, class: 'btn btn-lg btn-primary' %>
