<p id="notice"><%= notice %></p>

<p>
  <strong>Filename:</strong>
  <%= @firmware.filename %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @firmware.content_type %>
</p>

<p>
  <strong>File content:</strong>
  <%= @firmware.file_content %>
</p>

<p>
  <strong>Checksum:</strong>
  <%= @firmware.checksum %>
</p>

<%= link_to 'Edit', edit_firmware_path(@firmware) %> |
<%= link_to 'Back', firmwares_path %>
